.navbar-cim {
    font-size: 25px;
    color: black;
}
.linkek span {
    font-family: sans-serif;
}
.navbar-bg {
    background-image: url(img/navbar-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.alahuzas {
    display: inline-block;
    position: relative;
    font-family: monospace;
  
  }
  
  .alahuzas::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .alahuzas:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.contactCim {
    font-size: 22px;
    font-family: sans-serif;
}
.frame {
    background-image: url(img/frame.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.wrapper {


  background: linear-gradient(124deg, cornflowerblue, cornflowerblue, darkkhaki,darkkhaki, indianred, indianred);
  background-size: 200% 200%;
  -webkit-animation: rainbow 9s ease infinite;
  -z-animation: rainbow 9s ease infinite;
  -o-animation: rainbow 9s ease infinite;
  animation: rainbow 9s ease infinite;}
  @-webkit-keyframes rainbow {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }
  @keyframes rainbow {
     0%{background-position:0% 82%}
     50%{background-position:100% 19%}
     100%{background-position:0% 82%}
  }

.focimke {
  text-align: center; position: relative; font-size: 60px; top:250px; font-family: sans-serif;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
             0px 5px 10px rgba(0,0,0,0.1),
             0px 10px 15px rgba(0,0,0,0.1);
}
.park-cim 
{
  text-align: center;
  font-family: sans-serif;
  color: #000;
  font-size: 70px;
}

.modal-body {
  font-family: sans-serif;
  text-align: justify;
}













@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;

  left: 25px;
  padding: 5px 10px 10px;
}

figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 10%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}